@media (min-width: 768px) {
  .col-sm-1 {
    width: 8.33333%;
    float: left;
    margin: 0 auto;
    position: relative; }
  .col-sm-2 {
    width: 16.66667%;
    float: left;
    margin: 0 auto;
    position: relative; }
  .col-sm-3 {
    width: 25%;
    float: left;
    margin: 0 auto;
    position: relative; }
  .col-sm-4 {
    width: 33.33333%;
    float: left;
    margin: 0 auto;
    position: relative; }
  .col-sm-5 {
    width: 41.66667%;
    float: left;
    margin: 0 auto;
    position: relative; }
  .col-sm-6 {
    width: 50%;
    float: left;
    margin: 0 auto;
    position: relative; }
  .col-sm-7 {
    width: 58.33333%;
    float: left;
    margin: 0 auto;
    position: relative; }
  .col-sm-8 {
    width: 66.66667%;
    float: left;
    margin: 0 auto;
    position: relative; }
  .col-sm-9 {
    width: 75%;
    float: left;
    margin: 0 auto;
    position: relative; }
  .col-sm-10 {
    width: 83.33333%;
    float: left;
    margin: 0 auto;
    position: relative; }
  .col-sm-11 {
    width: 91.66667%;
    float: left;
    margin: 0 auto;
    position: relative; }
  .col-sm-12 {
    width: 100%;
    float: left;
    margin: 0 auto;
    position: relative; } }

@media (min-width: 992px) {
  .col-md-1 {
    width: 8.33333%;
    float: left;
    margin: 0 auto;
    position: relative; }
  .col-md-2 {
    width: 16.66667%;
    float: left;
    margin: 0 auto;
    position: relative; }
  .col-md-3 {
    width: 25%;
    float: left;
    margin: 0 auto;
    position: relative; }
  .col-md-4 {
    width: 33.33333%;
    float: left;
    margin: 0 auto;
    position: relative; }
  .col-md-5 {
    width: 41.66667%;
    float: left;
    margin: 0 auto;
    position: relative; }
  .col-md-6 {
    width: 50%;
    float: left;
    margin: 0 auto;
    position: relative; }
  .col-md-7 {
    width: 58.33333%;
    float: left;
    margin: 0 auto;
    position: relative; }
  .col-md-8 {
    width: 66.66667%;
    float: left;
    margin: 0 auto;
    position: relative; }
  .col-md-9 {
    width: 75%;
    float: left;
    margin: 0 auto;
    position: relative; }
  .col-md-10 {
    width: 83.33333%;
    float: left;
    margin: 0 auto;
    position: relative; }
  .col-md-11 {
    width: 91.66667%;
    float: left;
    margin: 0 auto;
    position: relative; }
  .col-md-12 {
    width: 100%;
    float: left;
    margin: 0 auto;
    position: relative; } }

@media (min-width: 1200px) {
  .col-lg-1 {
    width: 8.33333%;
    float: left;
    margin: 0 auto;
    position: relative; }
  .col-lg-2 {
    width: 16.66667%;
    float: left;
    margin: 0 auto;
    position: relative; }
  .col-lg-3 {
    width: 25%;
    float: left;
    margin: 0 auto;
    position: relative; }
  .col-lg-4 {
    width: 33.33333%;
    float: left;
    margin: 0 auto;
    position: relative; }
  .col-lg-5 {
    width: 41.66667%;
    float: left;
    margin: 0 auto;
    position: relative; }
  .col-lg-6 {
    width: 50%;
    float: left;
    margin: 0 auto;
    position: relative; }
  .col-lg-7 {
    width: 58.33333%;
    float: left;
    margin: 0 auto;
    position: relative; }
  .col-lg-8 {
    width: 66.66667%;
    float: left;
    margin: 0 auto;
    position: relative; }
  .col-lg-9 {
    width: 75%;
    float: left;
    margin: 0 auto;
    position: relative; }
  .col-lg-10 {
    width: 83.33333%;
    float: left;
    margin: 0 auto;
    position: relative; }
  .col-lg-11 {
    width: 91.66667%;
    float: left;
    margin: 0 auto;
    position: relative; }
  .col-lg-12 {
    width: 100%;
    float: left;
    margin: 0 auto;
    position: relative; } }

body {
  color: blue; }
